*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header{width:100%;height:96px;background: #ffffff;}
header .top{width: 1200px;margin: auto;}
header .top .top_ul1{float: left;}
header .top .top_div{float: right;}
header .top .top_div ul{margin-top:18px;}
header .top .top_div .top_div_ul1 li{float: left;margin-left: 10px;}
header .top .top_div .top_div_ul1 li a{color: #666666;font-size: 12px;}
header .top .top_div .top_div_ul2 li{float: left;margin-left:7px;color:#038dd8;font-size: 19px;}
.box{width: 100%;height:622px;background-image:url(../img/img_02_03.png);background-size: 100% 100%;margin-top:5px;position: relative;}
.box .box_div1{width: 100%;height:60px;background-image:url(../img/img_06.png);background-size: 100% 100%;}
.box .box_div1 .box_div1_div ul:after{clear:both;content:"";display:block;}
.box .box_div1 .box_div1_div{width: 1200px;margin: auto;s}
.box .box_div1 .box_div1_div ul{ display: flex;justify-content: space-between;line-height: 60px;}
.box .box_div1 .box_div1_div ul li{float: left;margin-left:20px;}
.box .box_div1 .box_div1_div ul li a{font-size: 14px;color: #038dd8;}
.box .box_div1 .box_div1_div ul li a:hover{color: #f69103;}
.box_age{width: 100%;background: #F9F9F9;}
.box_age .age{width: 1200px;height: 970px;border: 1px solid #cbcbcb;border-radius: 0px 0px 20px 20px;margin: auto;}
.box_age .age .age_div{margin-top: 20px;}
.box_age .age .age_div:after{clear:both;content:"";display:block;}
.box_age .age .age_div .ul1{float: left;margin-left: 15px;}
.box_age .age .age_div .ul1 .li1{float: left;font-size: 47px;color: #149add;margin-top: -25px;}
.box_age .age .age_div .ul1 .li2{width: 200px;margin-left:70px;margin-top: 5px;}
.box_age .age .age_div .ul1 .li2 a{font-size: 17px;color: #149ADD;}
.box_age .age .age_div .ul1 .li3{margin-left:70px;margin-top: 20px;}
.box_age .age .age_div .ul1 .li3 a{font-size: 12px;color: #b6b6b6;}
.box_age .age .age_div .ul2{float: right;}
.box_age .age .age_div .ul2 li{font-size: 12px;color: #7c7b7b;margin-right: 15px;margin-top:35px;}
.box_age .age .age_div .ul2 li a{font-size: 12px;color: #7c7b7b;}
.box_age .age .age_div1{width: 788px;height: 663px;margin: auto;margin-top:30px;}
.box_age .age .age_div2{height: 120px;width: 788px;margin: auto;margin-top: 20px;}
.box_age .age .age_div2 li{float: left;}
.box_age .age .age_div2 .li1{margin-left: 5px;}
.jin{width: 100%;height: 48px;background: #7ccbe7;margin-top: 40px;}
.jin .jin_div{width: 1200px;margin: auto;}
.jin .jin_div ul:after{clear:both;content:"";display:block;}
.jin .jin_div ul li{color: #0168B7;float: left;line-height: 48px;margin-right: 15px;}
.jin .jin_div ul li a{color: #0168B7;}
.jin .jin_div .jin_div1{width:580px;margin: auto;}
.lin{width: 100%;height:350px;background: #44b4dc;position: absolute;}
.lin .lin_div1{width: 1200px;margin: auto;}
.lin .lin_div1:after{clear:both;content:"";display:block;}
.lin .lin_div1 ul {width: 270px;height: 260px;padding-top:30px;float: left;}
.lin .lin_div1{display:flex;justify-content:space-between;}
.lin .lin_div1 .lin_div1_ul1 li img{float: left;} 
.lin .lin_div1 .lin_div1_ul1 li:after{clear:both;content:"";display:block;}
.lin .lin_div1 .lin_div1_ul1 li{padding-top: 10px;}
.lin .lin_div1 .lin_div1_ul1 li p{font-size: 14px;color: #FFFFFF;padding-left:100px;}
.lin .lin_div1 .lin_div1_ul1 .li1{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul1 .li2{font-size: 12px;color: #FFFFFF;margin-top: 5px;}
.lin .lin_div1 .lin_div1_ul2{padding-top: 40px;margin-left: 90px;}
.lin .lin_div1 .lin_div1_ul2 .li1{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul2 li{font-size: 12px;color: #FFFFFF;margin-top: 5px;}
.lin .lin_div1 .lin_div1_ul3{padding-top: 40px;margin-left: 90px;}
.lin .lin_div1 .lin_div1_ul3 .li{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul3 li{font-size: 12px;color: #FFFFFF;margin-top: 5px;margin-top:5px;}
.lin .lin_div1 .lin_div1_ul3 .li1 img{margin-right: 15px;}
.lin .lin_div1 .lin_div1_ul3 .li1{margin-top: 10px;}
.lin .a1{width:66px;height:128px;position: absolute;top:200px;right: 50px;}