*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header{width:100%px;height:96px;background: #ffffff;}
header .top{width: 1200px;margin: auto;}
header .top .top_ul1{float: left;}
header .top .top_div{float: right;}
header .top .top_div ul{margin-top:18px;}
header .top .top_div .top_div_ul1 li{float: left;margin-left: 10px;}
header .top .top_div .top_div_ul1 li a{color: #666666;font-size: 12px;}
header .top .top_div .top_div_ul2 li{float: left;margin-left:7px;color:#038dd8;font-size: 19px;}
.box{width: 100%;height: 622px;background-image:url(../img/img_02.png);background-size: 100% 100%;margin-top:5px;position: relative;}
.box .box_div1{width: 100%;height:60px;background-image:url(../img/img_12.png);background-size: 100% 100%;}
.box .box_div1 .box_div1_div ul:after{clear:both;content:"";display:block;}
.box .box_div1 .box_div1_div{width: 1200px;margin: auto;s}
.box .box_div1 .box_div1_div ul{ display: flex;justify-content: space-between;line-height: 60px;}
.box .box_div1 .box_div1_div ul li{float: left;margin-left:20px;}
.box .box_div1 .box_div1_div ul li a{font-size: 14px;color: #038dd8;}
.box_age{widows: 100%;background:#f9f9f9;}
.age{width: 1050px;margin: auto;}
.age:after{clear:both; content:""; display:block;}
.age_div1{float: left;}
.age_div1 .age_ul2{width:260px;height: 600px;border: 1px solid #e7e5e5;border-radius: 15px;}
.age_div1 .inp{width: 260px;height: 25px;border: 1px solid #008cd7;border-radius: 10px;background-image: url(../images/img_14_03.png);background-repeat: no-repeat;background-position:right;margin-top: 15px;}
.age_div1 ul .age_li1{width:260px;height: 60px; background: #33a3df;padding-top: 10px;}
.age_div1 ul .age_li1 img{float: left;margin-left:40px;padding-right: 20px;margin-top:5px;}
.age_div1 ul .age_li1:after{clear:both; content:""; display:block;}
.age_div1 ul .age_li1 h4{font-size: 30px;color: #FFFFFF;}
.age_div1 ul .age_li2{width: 264px;height: 47px;background-image: url(../img/img_07.png);margin-top: 5px;}
.age_div1 ul .age_li2 a{font-size: 14px;color: #FFFFFF;line-height: 35px;margin-left:40px;}
.age_div1 ul .age_li3{width: 236px;height: 56px;margin: auto;border-top: 1px dashed #e0e0e0;}
.age_div1 ul .age_li3 a{line-height: 56px;font-size: 14px;color: #1f141a;margin-left: 30px;}
.age_div1 ul .age_li3 img{position: relative;top: 2px;left: 80px;}
.age_div1 ul .age_li4{text-align: center;margin-top: 20px;}
.age_div1 ul .age_li5{text-align:center;padding-top:10px;}
.age_div1 ul .age_li5 input{width: 210px;height: 26px;border: 0px;background: #FFFFFF;}
.age_div1 ul .age_li6{text-align: center;margin-top: 10px;}
.age_div1 ul .age_li6 input{width: 210px;height: 26px;border: 0px;background: #FFFFFF;}
.age_div1 ul .age_li7{color:#797979;font-size: 12px;width: 210px;height: 26px;margin: auto;margin-top: 10px;}
.age_div1 ul .age_li8{width: 210px;height: 26px;border: 0px;margin: auto;margin-top: 10px;}
.age_div1 ul .age_li8 select{font-size: 12px;color: #797979;border: 0px;background: #FFFFFF;width:60px;}
.age_div1 ul .age_li9{text-align: center;width: 210px;height: 26px;margin: auto;margin-top: 15px;}
.age_div1 ul .age_li9 a{color: #797979;font-size: 12px;text-decoration:underline}
.age_div1 ul .age_ul{width: 230px;height: 270px;background: #d4f2ff;margin: auto;margin-top: -5px;}
.age_div1 ul .age_li10{width: 210px;height: 26px;text-align: center;margin: auto;margin-top: 20px;}
.age_div1 ul .age_li10 button{width: 140px;height: 30px;background: #008cd7;border-radius: 10px;border: 0px;color: #FFFFFF;font-size: 12px;}
.age .age_div2{width: 720px;height: 1160px; float: right;border:2px solid #e0e0e0;border-radius: 0px 0px 20px 20px;}
.age .age_div2 .age_div2_div{width:700px;height:75px;margin-top: 40px;margin: auto;margin-top: 15px;}
.age .age_div2 .age_div2_div:after{clear:both;content:""; display:block;}
.age .age_div2 .age_div2_top{float: left;width: 200px;height: 75px;}
.age .age_div2 .age_div2_top .top_li1{font-size: 47px;color: #149add;float: left;margin-top: -25px;}
.age .age_div2 .age_div2_top .top_li2{font-size: 17px;color: #149add;margin-left:60px;}
.age .age_div2 .age_div2_top .top_li3 a{font-size: 12px;color:#b6b6b6;margin-left:10px;}
.age .age_div2 .age_div2_top .top_li3{margin-top: 15px;}
.age .age_div2 .age_div2_topright{float: right;line-height:75px;margin-right: 20px;}
.age .age_div2 .age_div2_topright li{color: #7c7b7b;font-size: 12px;}
.age .age_div2 .age_div2_topright li a{color: #7C7B7B;}
.age .age_div2 .hr1{width: 700px;color: #f2f2f2;margin: auto;margin-top: 20px;}
.age .age_div2 .age_div2_div1{width: 700px;margin: auto;}
.age .age_div2 .age_div2_div1:after{clear:both; content:""; display:block;}
.age .age_div2 .age_div2_div1 ul{width: 210px;height: 290px;background: #f5f5f5;float: left;margin-top: 30px;}
.age .age_div2 .age_div2_div1 ul .li1{width: 210px;height: 122px;}
.age .age_div2 .age_div2_div1 ul .li1 img{width: 100%;height: 100%;}
.age .age_div2 .age_div2_div1 ul .li2 a{font-size:14px;color: #1c1c1c;}
.age .age_div2 .age_div2_div1 ul .li2{margin-left: 10px;padding-bottom: 30px;}
.age .age_div2 .age_div2_div1 ul .li3 a{font-size: 12px;color: #1c1c1c;}
.age .age_div2 .age_div2_div1 ul .li3{margin-left: 10px;}
.age .age_div2 .age_div2_div1 ul .li4 input{width: 85px;height: 25px;border: 0px;margin-top: 15px;}
.age .age_div2 .age_div2_div1 ul .li4 .inp1{background: #f29000;margin-left: 15px;}
.age .age_div2 .age_div2_div1 ul .li4 .inp2{background: #666666;margin-left: 5px;}
.age .age_div2 .age_div2_div2 ul li{float: left;}
.age .age_div2 .age_div2_div2{width: 160px;height: 35px;margin: auto;margin-top: 20px;border: 1px solid reds;}
.age .age_div2 .age_div2_div2 ul li input{width: 55px;height: 35px;border: 0px;background: #FFFFFF;}
.age .age_div2 .age_div2_div2 ul .li2{width: 35px;height: 35px;background: #008bd6;text-align: center;line-height: 35px;margin-left:7px;}
.age .age_div2 .age_div2_div2 ul .li3{margin-left:7px;}
.jin{width: 100%;height: 48px;background: #7ccbe7;margin-top:20px;}
.jin .jin_div{width: 1200px;margin: auto;}
.jin .jin_div ul:after{clear:both;content:"";display:block;}
.jin .jin_div ul li{color: #0168B7;float: left;line-height: 48px;margin-right: 15px;}
.jin .jin_div ul li a{color: #0168B7;}
.jin .jin_div .jin_div1{width:580px;margin: auto;}
.lin{width: 100%;height:350px;background: #44b4dc;position: absolute;}
.lin .lin_div1{width: 1200px;margin: auto;}
.lin .lin_div1:after{clear:both;content:"";display:block;}
.lin .lin_div1 ul {width: 270px;height: 260px;padding-top:30px;float: left;}
.lin .lin_div1{display:flex;justify-content:space-between;}
.lin .lin_div1 .lin_div1_ul1 li img{float: left;} 
.lin .lin_div1 .lin_div1_ul1 li:after{clear:both;content:"";display:block;}
.lin .lin_div1 .lin_div1_ul1 li{padding-top: 10px;}
.lin .lin_div1 .lin_div1_ul1 li p{font-size: 14px;color: #FFFFFF;padding-left:100px;}
.lin .lin_div1 .lin_div1_ul1 .li1{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul1 .li2{font-size: 12px;color: #FFFFFF;margin-top: 5px;}
.lin .lin_div1 .lin_div1_ul2{padding-top: 40px;margin-left: 90px;}
.lin .lin_div1 .lin_div1_ul2 .li1{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul2 li{font-size: 12px;color: #FFFFFF;margin-top: 5px;}
.lin .lin_div1 .lin_div1_ul3{padding-top: 40px;margin-left: 90px;}
.lin .lin_div1 .lin_div1_ul3 .li{font-size: 16px;color: #FFFFFF;}
.lin .lin_div1 .lin_div1_ul3 li{font-size: 12px;color: #FFFFFF;margin-top: 5px;margin-top:5px;}
.lin .lin_div1 .lin_div1_ul3 .li1 img{margin-right: 15px;}
.lin .lin_div1 .lin_div1_ul3 .li1{margin-top: 10px;}
.lin .a1{width:66px;height:128px;position: absolute;top:200px;right: 50px;}
